<div class="row">
    <div class="col-md-4 col-md-offset-4">
    	<%= simple_form_for(@gift_status_form, url: promotion_url, html: { class: 'form-horizontal' }) do |f| %>
		  <%= f.input :phone %>
		  <%= f.input :code %>
		  <%= f.submit :Submit, class: "btn btn-primary" %>
		<% end %>
    </div>
</div>
