<div class="row">
  <div class="col-md-6">Name: <%= customer.name %></div>
</div>
<div class="row">
  <div class="col-md-6">Phone: <%= customer.phone %></div>
</div>
<div class="row">
  <div class="col-md-6">City: <%= customer.city %></div>
</div>
<div class="row">
  <div class="col-md-6">Address: <%= customer.address %></div>
</div>