<div class="well">
  <%= link_to "New Product Campaign", new_campaign_path, class: "btn btn-default" %>
  <%= link_to "Phân tích hiệu quả chiến dịch", cost_report_campaigns_path, class: "btn btn-default" %>
  <%= link_to "Phân tích hiệu quả theo thời gian", time_report_campaigns_path, class: "btn btn-default" %>
</div>