<%= form_tag(campaigns_path, :method => "get", id: "search-form", class: "form-horizontal") do %>
  <div class="row">
  	<div class="col-md-3">
	<%= select_tag :city, options_for_select(@cities), :include_blank => 'All Cities', class: "dropdown" %>
	</div>
	<div class="col-md-3">
		<input type="text" data-provide='datepicker' name="date", placeholder="Choose a date" />
	</div>
	<div class="col-md-3">
		<input type="text" name="product_name", placeholder="Product name" />
	</div>
	<div class="col-md-3">
    	<%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
    </div>
<% end %>
<script>
$( ".dropdown" ).select2({
    theme: "bootstrap"
});
</script>