<%= render "campaigns/common" %>
<%= @campaign.name %>

<%= render "campaigns/panel" %>

<div class="row">
<h3>Campaign's Customers</h3>

<%= render partial: "campaign_customers/index", locals: { campaign_customers: @campaign_customers } %>

</div>
